openapi: 3.0.3
info:
  title: Revolutio Hazard Combined Hazard Seismic API
  description: The Revolutio Hazard API (formerly CHECKWIND.API) provides site-specific structural engineering hazard parameters for wind, snow, ice, and seismic analysis. Trusted by over 750 companies across construction, fabrication, power distribution, signage, structural engineering, and telecommunications, the API returns location-based load parameters according to international standards including AS/NZS 1170.2, AS 4055, ASCE 7, and others across 40+ countries in Oceania, Asia, the Middle East, North America, South America, and Europe.
  version: 4.0.0
  contact:
    url: https://www.revolutio.com.au/
    email: support@revolutio.com.au
  license:
    name: Commercial
    url: https://www.revolutio.com.au/software/hazardapi/
servers:
- url: https://api.revolutio.com.au
  description: Production
security:
- HazardApiKey: []
tags:
- name: Seismic
  description: Seismic hazard parameters
paths:
  /asnzs1170/seismic:
    get:
      operationId: getSeismicHazardGet
      summary: Get Seismic Hazard Analysis
      description: Returns site-specific seismic hazard parameters for the specified coordinates.
      tags:
      - Seismic
      parameters:
      - name: apiKey
        in: query
        required: true
        schema:
          type: string
      - name: latitude
        in: query
        required: true
        schema:
          type: number
      - name: longitude
        in: query
        required: true
        schema:
          type: number
      - name: units
        in: query
        required: false
        schema:
          type: string
          enum:
          - metric
          - imperial
      responses:
        '200':
          description: Seismic hazard analysis results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeismicResult'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
    post:
      operationId: getSeismicHazardPost
      summary: Post Seismic Hazard Analysis
      description: Returns seismic hazard parameters via POST.
      tags:
      - Seismic
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SiteCoordinates'
      responses:
        '200':
          description: Seismic hazard results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeismicResult'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
components:
  schemas:
    SiteCoordinates:
      type: object
      required:
      - latitude
      - longitude
      properties:
        latitude:
          type: number
          format: double
          description: Site latitude in decimal degrees
          example: -33.8688
        longitude:
          type: number
          format: double
          description: Site longitude in decimal degrees
          example: 151.2093
        h:
          type: number
          format: double
          description: Structure height above ground in metres (optional; omit for faster response)
          example: 15.0
        units:
          type: string
          enum:
          - metric
          - imperial
          default: metric
          description: Output units (metric or imperial)
        advancedDetection:
          type: boolean
          default: true
          description: Use machine learning terrain/exposure detection algorithm
        googleApiKey:
          type: string
          description: Optional Google API key for elevation/geocoding data source
    SeismicResult:
      type: object
      properties:
        hazardClass:
          type: string
          description: Seismic hazard class
        siteClass:
          type: string
          description: Site subsoil class
        kp:
          type: number
          format: double
          description: Probability factor
        standard:
          type: string
          description: Applied design standard
  securitySchemes:
    HazardApiKey:
      type: apiKey
      in: query
      name: apiKey
      description: Revolutio Hazard API subscription key. For POST requests pass in request header.
