openapi: 3.0.3
info:
  title: Revolutio Hazard Combined Hazard Wind API
  description: The Revolutio Hazard API (formerly CHECKWIND.API) provides site-specific structural engineering hazard parameters for wind, snow, ice, and seismic analysis. Trusted by over 750 companies across construction, fabrication, power distribution, signage, structural engineering, and telecommunications, the API returns location-based load parameters according to international standards including AS/NZS 1170.2, AS 4055, ASCE 7, and others across 40+ countries in Oceania, Asia, the Middle East, North America, South America, and Europe.
  version: 4.0.0
  contact:
    url: https://www.revolutio.com.au/
    email: support@revolutio.com.au
  license:
    name: Commercial
    url: https://www.revolutio.com.au/software/hazardapi/
servers:
- url: https://api.revolutio.com.au
  description: Production
security:
- HazardApiKey: []
tags:
- name: Wind
  description: Site-specific wind hazard analysis per AS/NZS 1170.2 and ASCE 7 standards
paths:
  /asnzs1170/wind:
    get:
      operationId: getWindHazardGet
      summary: Get Wind Hazard Analysis
      description: Returns site-specific wind hazard parameters according to AS/NZS 1170.2 for the specified coordinates. API key must be included as a query parameter.
      tags:
      - Wind
      parameters:
      - name: apiKey
        in: query
        required: true
        schema:
          type: string
        description: Your Revolutio Hazard API subscription key
      - name: latitude
        in: query
        required: true
        schema:
          type: number
        description: Site latitude in decimal degrees
      - name: longitude
        in: query
        required: true
        schema:
          type: number
        description: Site longitude in decimal degrees
      - name: h
        in: query
        required: false
        schema:
          type: number
        description: Structure height in metres
      - name: units
        in: query
        required: false
        schema:
          type: string
          enum:
          - metric
          - imperial
          default: metric
        description: Output unit system
      - name: advancedDetection
        in: query
        required: false
        schema:
          type: boolean
          default: true
        description: Enable ML-based terrain detection
      - name: googleApiKey
        in: query
        required: false
        schema:
          type: string
        description: Optional Google API key for elevation data
      responses:
        '200':
          description: Wind hazard analysis results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WindAnalysisResult'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing API key
        '429':
          description: Rate limit exceeded or duplicate request in progress
    post:
      operationId: getWindHazardPost
      summary: Post Wind Hazard Analysis
      description: Returns site-specific wind hazard parameters. POST method allows passing the API key in the request header for better security.
      tags:
      - Wind
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SiteCoordinates'
      responses:
        '200':
          description: Wind hazard analysis results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WindAnalysisResult'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
components:
  schemas:
    SiteCoordinates:
      type: object
      required:
      - latitude
      - longitude
      properties:
        latitude:
          type: number
          format: double
          description: Site latitude in decimal degrees
          example: -33.8688
        longitude:
          type: number
          format: double
          description: Site longitude in decimal degrees
          example: 151.2093
        h:
          type: number
          format: double
          description: Structure height above ground in metres (optional; omit for faster response)
          example: 15.0
        units:
          type: string
          enum:
          - metric
          - imperial
          default: metric
          description: Output units (metric or imperial)
        advancedDetection:
          type: boolean
          default: true
          description: Use machine learning terrain/exposure detection algorithm
        googleApiKey:
          type: string
          description: Optional Google API key for elevation/geocoding data source
    WindAnalysisResult:
      type: object
      properties:
        region:
          type: string
          description: Wind region classification
          example: A0
        class:
          type: string
          description: Site wind class
          example: N1
        criticalDirection:
          type: string
          description: Critical wind direction
          example: N
        terrainCategory:
          type: object
          description: Directional terrain category results
          additionalProperties:
            type: string
        topographicClass:
          type: object
          description: Directional topographic classification
          additionalProperties:
            type: string
        shieldingClass:
          type: object
          description: Directional shielding classification
          additionalProperties:
            type: string
        windSpeed:
          type: number
          format: double
          description: Design wind speed in m/s (or mph if imperial)
        standard:
          type: string
          description: Applied design standard
          example: AS/NZS 1170.2-2021
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        code:
          type: integer
  securitySchemes:
    HazardApiKey:
      type: apiKey
      in: query
      name: apiKey
      description: Revolutio Hazard API subscription key. For POST requests pass in request header.
